*{
  margin: 0;
  padding: 0;
}

body{
  background-color: tomato;
}

nav{
  background-color: black;
  height: 50px;
  
}

ul{
  display: flex;
  color: white;
  justify-content: center;
}

nav > ul > li {
  list-style-type: none;
  margin-right: 20px;
  font-size: 30px;
  padding-top: 10px;
}

.link{
  text-decoration: none;
  color: white;
}


.cc{
  border: black solid 2px;
}